<form>
  <input type="hidden" name="list_item[anime_id]"
    value="<%= anime.escape("anime_id") %>">
  <div class="fillWidthLeft">
    <span class="label"><label for="list_item_status">Status</label></span>
    <span class="floatRight"><select name="list_item[status]" id="list_item_status">
      <option value="" <%= !anime.get("status") ? "selected" : "" %>>
        Select status
      </option>
      <% _.each(YAL.STATUSES, function(status) { %>
        <option value="<%= status %>" <%= anime.get("status") === status ? "selected" : "" %>>
          <%= status %>
        </option>
      <% }); %>
    </select></span>
  </div><div class="fillWidthLeft">
    <span class="label"><label for="list_item_rating">Rating</label></span>
    <span class="floatRight"><select name="list_item[rating]" id="list_item_rating">
      <option value="" <%= !anime.get("rating") ? "selected" : "" %>>
        Select rating
      </option>
      <% for (var i = 10; i > 0; i--) { %>
        <option value="<%= i %>" <%= anime.get("rating") === i ? "selected" : "" %>>
          <%= i %> - <%= YAL.RATINGS[i] %>
        </option>
      <% } %>
    </select></span>
  </div><div class="fillWidthLeft">
    <span class="label"><label for="list_item_progress">Progress</label></span>
    <span class="floatRight">
      <span class="input"><input type="text" id="list_item_progress"
        name="list_item[progress]" value="<%= anime.escape("progress") %>">
      </span><span>
        / <%= anime.escape("episode_count") %>
      </span>
    </span>
  </div><div class="fillWidthLeft commentTextArea cf">
    <span class="label"><label for="list_item_comment">Comment</label></span>
    <span class="floatRight">
      <textarea cols="16" id="list_item_comment" name="list_item[comment]"
        ><%= anime.escape("comment") %></textarea>
    </span>
  </div>
