<tr class="<%= idx % 2 === 0 ? "color1" : "color2" %>" data-itemid="<%= item.escape("id") %>"><td>
  <%= idx + 1 %>
</td><td class="left">
  <a href="javascript:void(0)" class="showAnime"><%= item.escape("title") %></a>
  <% if (YAL.currentUser.get("username") === YAL.listId ) { %>
    <span class="floatRight smaller">
      <a class="editListItem" href="javascript:void(0)">
        Edit
      </a>
    </span>
  <% } %>
</td><td>
  <% if (editRating === item.get("id")) { %>
    <%= JST['list/rating_form']({item: item}) %>
  <% } else { %>
    <% if (YAL.currentUser.get("username") === YAL.listId ) { %>
    <a class="ratingLink edit"
      href="javascript:void(0)"><% } %>
      <%= item.escape("rating") || "-" %>
    </a>
  <% } %>
</td><td>
  <%= item.escape("type") %>
</td><td>
  <%= item.escape("episode_count")%>
</td><td class="left comments">
  <% if (editComment === item.get("id")) { %>
    <%= JST['list/comment_form']({item: item}) %>
  <% } else { %>
    <% if (YAL.currentUser.get("username") === YAL.listId ) { %>
    <a class="commentLink edit"
      href="javascript:void(0)"> <% } %>
      <%= item.escape("comment") || "-" %>
    </a>
  <% } %>
</td></tr>