<tr class="<%= idx % 2 === 0 ? "color1" : "color2" %>"
  data-itemid="<%= item.escape("id") %>">
<td>
  <%= idx + 1 %>
</td><td class="left">
  <%= item.escape("title") %>
</td><td>
  <% if (editRating === item.get("id")) { %>
    <%= JST['list/rating_form']({item: item}) %>
  <% } else { %>
    <% if (YAL.currentUser.get("username") === YAL.listId ) { %>
    <a class="ratingLink edit" href="javascript:void(0)"><% } %>
      <%= item.escape("rating") || "-" %>
    </a>
  <% } %>
</td><td>
  <%= item.escape("type") %>
</td><td>
  <% if (editProgress === item.get("id")) { %>
    <%= JST['list/progress_form']({item: item}) %>
  <% } else { %>
    <% if (YAL.currentUser.get("username") === YAL.listId ) { %>
    <a class="progressLink edit" href="javascript:void(0)"> <% } %>
      <%= item.escape("progress") || "-" %>

  <% } %>
   / <%= item.escape("episode_count")%>
   </a>
   <span class="smaller">
     <a class="progressPlus" href="javascript:void(0)">+</a>
   </span>
</td><td class="left comments">
  <% if (editComment === item.get("id")) { %>
    <%= JST['list/comment_form']({item: item}) %>
  <% } else { %>
    <% if (YAL.currentUser.get("username") === YAL.listId ) { %>
    <a class="commentLink edit" href="javascript:void(0)"> <% } %>
      <%= item.escape("comment") || "-" %>
    </a>
  <% } %>
</td></tr>