<tr class="<%= idx % 2 === 0 ? "color1" : "color2" %>"><td>
  <%= idx + 1 %>
</td><td class="left">
  <%= item.escape("title") %>
</td><td>
  <%= item.escape("rating") || "-" %>
</td><td>
  <%= item.escape("type") %>
</td><td>
  <% if (editProgress === item.get("id")) { %>
    <%= JST['list/progress_form']({item: item}) %>
  <% } else { %>
    <a data-itemid="<%= item.escape("id") %>" class="progressLink"
      href="javascript:void(0)">
      <%= item.escape("progress") || "-" %> / <%= item.escape("episode_count")%>
    </a>
  <% } %>
</td><td class="left">
  <%= item.escape("comments")%>
</td></tr>