<div class="container">

<form>
  <div class="fillWidthLeft">
    <span class="label"><label for="anime_title">Title</label></span>
    <span class="floatRight"><input class="fullWidth" type="text" id="anime_title"
      name="anime[title]" value="<%= @anime.title %>"></span>
  </div><div class="fillWidthLeft">
    <span class="label"><label for="anime_episode_count">
      Number of Episodes
    </label></span>
    <span class="floatRight"><input class="fullWidth" type="text" id="anime_episode_count"
      name="anime[episode_count]" value="<%= @anime.episode_count %>"></span>
  </div><div class="fillWidthLeft">
    <span class="label"><label for="anime_show_type">Type</label></span>
    <span class="floatRight"><select name="anime[show_type]" id="anime_show_type">
      <option value="" <%= "selected" unless @anime.show_type %>>
        Select type
      </option>
      <% Anime::TYPES.each do |type| %>
        <option value="<%= type %>" <%= @anime.show_type == type ? "selected" : "" %>>
          <%= type %>
        </option>
      <% end %>
    </select></span>
  </div><div class="fillWidthLeft"><span class="floatRight">
    <input type="submit" value="Add Anime">
  </span></div>
</form>

</div>