<!DOCTYPE html>
<html>
<head>
  <title>YAL</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body data-page="<%= @page_id %>">
<script type="text/json" id="bootstrap-user">
<% if logged_in? %>
	<%= j (render current_user, :handlers => [:rabl]).html_safe %>
<% else %>
	<%= {} %>
<% end %>
</script>
<%# unless @page_id.try(:match, /^list_item|^anime/) %>
<div>
<% if @page_id.try(:match, (/^lists\/\w+/)) %>
  <% if logged_in? %>
    <%= link_to "#{current_user.username}'s list", list_url(current_user.username) %> |
    <%= link_to "log out", session_url, method: "DELETE"%>
  <% else %>
    <%= link_to "log in", new_session_url %> |
    <%= link_to "new user", new_user_url %>
  <% end %>
<% end %>
</div>
<div class="errors">
  <% @errors.try(:each) do |message| %>
    <p><%= message %></p>
  <% end %>
</div>

<%# end %>
<div class="main">

<%= yield %>

</div>
</body>
</html>
